#header {
  width: 100%;
  height: 4rem;
  padding: 1rem;

  background-color: $color1;
  color: $color4;

  display: flex;
  align-items: flex-end;

  h1 {
    font-size: 2rem;
    height: 2rem;
    font-family: "Big Shoulders Display", sans-serif;
    @include phone() {
      flex-grow: 1;
    }
  }
  p.description {
    font-style: italic;
    margin: 0 1rem;
    flex-grow: 1;
    letter-spacing: -.1rem;
    @include phone() {
      display: none;
    }
  }
  p.copyright {
    text-align: right;
    max-width: 50%;
    font-size: .8rem;
    a {
      text-decoration: underline;
      color: $color3;
    }
  }
}
#main {
  display: flex;
  height: calc(100% - 4rem);

  background-color: $color2;
  color: $color4;

  @include phone() {
    flex-direction: column;
  }

  #input, #output {
    flex-grow: 1;
    flex-basis: 50%;

    display: flex;
    flex-direction: column;

    height: calc(100% - .75rem);
    padding: .5rem;
    margin: .5rem;
    border: 1px solid $color3;

    h2 {
      height: 1rem;
      line-height: 1rem;
    }
    div.html-box {
      flex-grow: 1;
      width: 100%;
      border: 1px solid $color1;
      font-family: "Source Code Pro", monospace;
      font-size: 1rem;
      padding: .5rem;
    }
  }
  #input {
    div.msg-box {
      position: relative;
      line-height: 1.75rem;
      height: 1.75rem;
      font-size: .8rem;
      color: $color4;

      p {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility .2s, opacity .2s;
        &.shown {
          opacity: 1;
          visibility: visible;
        }
        &.urgent {
          color: $color3;
        }
      }
    }
    div.button-list {
      display: flex;
    }
    button {
      flex-grow: 1;
      &.option {
        margin-right: .25rem;
      }
      &.squash {
        margin-left: .25rem;
      }
    }
  }
  #output {
    div.ad {
      height: 4rem;
    }
  }
}

#option {
  display: none;
  &.shown {
    display: flex;
  }

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;  /* fuck */

  background-color: rgba(0, 0, 0, .5);
  color: $color4;

  justify-content: center;
  align-items: center;
  .window {
    background-color: $color1;
    border: 1px solid $color2;
    padding: 1rem;
  }

  h2 {
    font-size: 1.8rem;
    font-family: "Big Shoulders Display", sans-serif;
    text-align: center;
  }
  button {
    margin: 0 auto;
    width: 8rem;
  }
  table {
    margin: 1rem;
    td {
      padding: .25rem;
      vertical-align: middle;
    }
  }
  input {
    background-color: darken($color1, 20%);
    border: 1px solid $color2;
    padding: .25rem;
    line-height: 1.5em;
    &:focus {
      border-color: $color3;
    }
  }
}